<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Studio Stats</title>
</head>
<body>
<form name="input" action="/" method="post">
Enter MBO Studio ID: <input type="text" name="id">
<input type="submit" value="Submit">
</form>
<p> *please expect a 4 second delay during search.</p>
</body>
</html>
