<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Studio Stats</title>
</head>
<body>
  Total Weekly Classes is <%= @classes.count %><br />
  Instructor Count is <%= @instructors.uniq.count %><br />
  <% if (@total_booked_spots != 0 ) && (@total_open_spots != 0) %>
  <%= "#{(@total_booked_spots / (@total_booked_spots + @total_open_spots) * 100).to_i}% full" %>
  <% end %>
  <br />
  <br />
  Instructors:<br/>
  <% @instructors.uniq.each do |i| %>
    <% if i != "Cancelled Today" %>
    <%= "#{i}" %><br />
    <% end %>
  <% end %>
</body>
</html>
